.menu-ul {
  list-style-type: none;
  /* margin: 0; */
  float: right;
  margin-right: 5%;
  margin-top: 15px;
}

.menu-ul li {
  display: inline-block;
  margin: 1px;
  padding-left: 10px;
}

.logo {
  margin-top: 5px;
  float: left;

  padding-right: 0%;
  width: 158px;
  height: 57px;
  object-fit: contain;
}

.Header {
  position: fixed;
  /* background-color: cadetblue; */
  transition: 0.5s;
  width: 1024px;
  height: 66px;
  margin-top: 100px;
}
.contact {
  float: right;
  width: 75px;
  height: 10px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
  width: 134px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #141516;

  /* margin-left: 15px; */
  /* margin-top: 10px; */
  /* width: 124px;
  font-family: Montserrat;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #141516;
  text-decoration: inherit; */
}
.scrolled {
  position: fixed;
  background-color: wheat;
}
.nav {
  width: 100%;
  justify-content: center;
  transition: 3s;
}

.creditScore {
  width: 63px;
  height: 30px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
}
