.menu-ul {
  list-style-type: none;
  margin: 0;
  float: right;
  margin-right: 5%;
  margin-top: 4px;
}

.menu-ul li {
  display: inline-block;
  margin: 1px;
  padding-left: 5px;
}

.logo {
  margin-top: 5px;
  float: left;

  padding-right: 0%;
  width: 158px;
  height: 57px;
  object-fit: contain;
}

.Header {
  position: fixed;
  background-color: cadetblue;
  transition: 0.5s;
  width: 1544px;
  height: 66px;
}
#con {
  margin-left: 15px;
  margin-top: 10px;
  width: 170px;
  height: 32px;
  border-radius: 6px;
  border: solid 1px #141516;
  text-decoration: inherit;
}
.scrolled {
  position: fixed;
  background-color: lightsalmon;
}
.nav {
  width: 100%;
  justify-content: center;
  transition: 3s;
}
